# Python / Flask
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
env.bak/
venv.bak/

# Environment Variables
.env

# Application Specific
uploads/
output/

# IDE / System
.vscode/
.idea/
.DS_Store
.gemini/
