<aside class="app-sidebar">
  <div class="sidebar-brand">
    <i class="fa-solid fa-chart-line-up brand-icon"></i>
    <div class="brand-info">
      <span class="brand-name">Goks!</span>
      <span class="brand-tag">F&B Automation</span>
    </div>
  </div>

  <nav class="sidebar-nav">
    <a href="/" class="nav-item {% if active_menu == 'stockin' %}active{% endif %}">
      <i class="fa-solid fa-truck-ramp-box"></i>
      <span>Stock-In Gudang</span>
    </a>
    <a href="/eresto" class="nav-item {% if active_menu == 'eresto' %}active{% endif %}">
      <i class="fa-solid fa-file-excel"></i>
      <span>eResto Analysis</span>
    </a>
    <a href="/eresto-mass" class="nav-item {% if active_menu == 'eresto_mass' %}active{% endif %}">
      <i class="fa-solid fa-layer-group"></i>
      <span>eResto Mass Analysis</span>
    </a>
    <a href="/sinkronisasi" class="nav-item {% if active_menu == 'sinkronisasi' %}active{% endif %}">
      <i class="fa-solid fa-arrows-rotate"></i>
      <span>Sinkronisasi Penjualan</span>
    </a>
    <a href="/mass-sinkronisasi" class="nav-item {% if active_menu == 'mass_sinkronisasi' %}active{% endif %}">
      <i class="fa-solid fa-bolt"></i>
      <span>Mass Sinkronisasi</span>
    </a>
    <a href="/update-kerugian" class="nav-item {% if active_menu == 'update_kerugian' %}active{% endif %}">
      <i class="fa-solid fa-calendar-check"></i>
      <span>Update Kerugian Harian</span>
    </a>
    <a href="/mass-update" class="nav-item {% if active_menu == 'mass_update' %}active{% endif %}">
      <i class="fa-solid fa-wand-magic-sparkles"></i>
      <span>Update Rumus Massal</span>
    </a>
    <a href="/mass-hide" class="nav-item {% if active_menu == 'mass_hide' %}active{% endif %}">
      <i class="fa-solid fa-eye-slash"></i>
      <span>Format Laporan</span>
    </a>
  </nav>

  <div class="sidebar-footer">
    <div class="user-profile">
      <i class="fa-solid fa-circle-user profile-icon"></i>
      <div>
        <div class="profile-name">Outlet Manager</div>
        <div class="profile-role">Administrator</div>
      </div>
    </div>
  </div>
</aside>
